.main{
  position: absolute;
  .header{
    header{
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 70px;
      width: 100%;
      background: #d2d2d2;
      text-align: center;
    }
  }
}
