.main{
  margin-top: 70px;
  .tabs{
    padding-top: 50px;
    a {
      width: 100%;
      text-decoration: none;
      div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background:#0B212E;
        padding: 7px 0px;
        border: 2px solid #1F4D64;
        cursor: pointer;
        transition: .3s;
        &:hover{
          background: #0F7ABE;
        }
        h3{
          color: white;
          font-size: 18px;
          margin: 0px;
        }
      }
    }
  }
  .content{
    margin-top: 70px;
    img{
      width: 100%;
      height: 100%;
    }
    .colRestyle{
      position: relative;
      .hover-content{
        display: none;
        transition: .4s;
      }
      &:hover{
        .hover-content{
          display: block;
          transition: .4s;
          cursor: pointer;
          background: rgba(0,0,0,0.7);
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: 7.5px;
          padding: 7.5px;
          padding-bottom: 45px;
          .title-section{
            height: 45px;
            overflow: hidden;
            span{
              color: white;
              line-height: 0px !important;
            }
            h3{
              margin: 0px;
              font-size: 16px;
              color: white;
              line-height: 18px;
            }
          }
          .wrapper{
            border: 3px solid #00D44A;
            border-radius: 3px;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
              .genre{
                margin-bottom: 10px;
                span{
                  color: white;
                  font-size: 18px;
                  margin: 10px 0px;
                }
              }
            .btn{
              color: white;
              background: #00D44A;
              padding: 1px 10px;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}
.error{
  color: red !important;
}

